@media screen and (max-width:768px) {

    .header {
        margin: 0 ;
    }

    .printivo-logo-nav {
        margin: 0 auto;
        padding: 0 auto;
    }
    
    .main {
        margin: 0;
        height: 43vh;
    }

    .main-1 {
        width: 100%;
        margin-left: 10px;
    }

    .input {
        font-size: 13px;
    }

    .input-con {
        width: 100vh;
    }

    .cardd {
        display: none;
    }
    
    .carousel {
       margin: 0; 
    }

    .ms-5 {
        display: none;
    }

    .need-help{
        display: none;
    }

    .create-acct {
        display: none;
    }

    .contact-number {
        font-size: 12px;
    }
    
    .ng-btn {
        gap: 70px ;
    }

    .quality {
        font-size: 35px;
        font-family:'Times New Roman', Times, serif
    }

    .all-products-nav {
        display: none;
    }

    .hero-section {
        margin: 0;
    }

    .popular-product-text {
        font-weight: bold;
        color: #384a62;
        font-family:'Times New Roman', Times, serif;
        font-size: 20px;
    }
}